@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Variáveis */
@media(prefers-color-scheme: light){
    :root{
    --background-color: rgb(229, 229, 229);
    --surface-color: #ecf0f3;
    --button-color: blueviolet;
    --text-color: black;
    --border-radius: 12px;
    --border-radius-2: 40px;
    --box-shadow: inset 2px 2px 4px #d1d9e6, -2px -2px 4px #f9f9f9;
    --focus-box-shadow: inset 4px 4px 4px #d1d9e6, -4px -4px 4px #f9f9f9;
    --button-box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
    --main-box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
    --input: white;
    --button-text: white;
    --hover: transparent;
    --glow-color: transparent;
    --glow-strenght: transparent;
    --glow: transparent;
    --anchor: rgb(77, 77, 77);
    --anchor-hover: black;
    --hover-text: blueviolet;
    }
}

@media(prefers-color-scheme: dark){
  :root {
    --border-radius: 12px;
    --border-radius-2: 40px;
    --background-color: #212121;
    --surface-color: #212121;
    --button-color: #e2c02b;
    --text-color: #e0e0e0;
    --box-shadow: inset 4px 4px 8px #151515, inset -4px -4px 8px #2d2d2d;
    --focus-box-shadow: inset 6px 6px 12px #151515, inset -6px -6px 12px #2d2d2d;
    --main-box-shadow: 8px 8px 16px #151515, -8px -8px 16px #2d2d2d;
    --button-box-shadow: 5px 5px 10px #151515, -5px -5px 10px #2d2d2d;
    --input: #212121; 
    --button-text: #1a1a1a;
    --hover: #ffd931;
    --glow-color: rgba(255, 217, 49, 0.4);
    --glow-strenght: 15px;
    --glow: 0 0 var(--glow-strenght) var(--glow-color);
    --anchor: #b0b0b0;
    --anchor-hover: #ffffff;
    --hover-text: #000000;
  }
}

/* Estrutura geral */
body{
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estrutura da div principal */
.main{
    border-radius: var(--border-radius);
    background-color: var(--surface-color);
    width: 30%;
    height: 640px;
    box-shadow: var(--main-box-shadow);
}

/* Estrutura dos inputs */
input{
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 40px;
    border-radius: var(--border-radius-2);
    outline: none;
    color: var(--text-color);
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    border: none;
    box-shadow: var(--box-shadow);
    transition: all 0.3s;
    background-color: var(--input);
}

input:focus{
    box-shadow: var(--focus-box-shadow);
    height: 45px;
    font-size: large;
    transition: all 0.3s;
}

/* Estrutura de textos e âncora */
h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

p{
    display: flex;
    justify-content: center;
    font-size: larger;
    color: var(--text-color);
}

a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: var(--anchor);
    transition: all 0.2s;
    font-size: larger;
}

a:hover{
    color: var(--anchor-hover);
    transition: all 0.2s;
}

/* Estrutura do botão */
button{
    display: block;
    margin: 0 auto;
    width: 180px;
    height: 50px;
    border-radius: var(--border-radius-2);
    font-size: x-large;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--button-text);
    background-color: var(--button-color);
    border: 3px solid var(--button-color);
    transition: all 0.3s;
    box-shadow: var(--button-box-shadow);
}

button:hover{
    cursor: pointer;
    color: var(--hover-text);
    background-color: var(--hover);
    box-shadow: var(--glow);
    transition: all 0.3s;
}