@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Variáveis */
@media(prefers-color-scheme: light){
    :root{
    --surface-color: #fff;
    --background-color: #d6d6d6;
    --text: #000;
    --text-2: #fff;
    --input-bg: rgb(190, 190, 190);
    --button: blueviolet;
    --button-hover: rgb(159, 85, 228);
    --border-radius: 12px;
    --input-border-radius: 40px;
    --anchor: gray;
    --box-shadow: #b3b3b3;
    --box-shadow-2: #888888;
    --box-shadow-3: #f9f9f9;
        }
}

@media(prefers-color-scheme: dark){
    :root{
    --surface-color: #444444;
    --background-color: #272727;
    --text: #ffffff;
    --text-2: #000000;
    --input-bg: rgb(133, 133, 133);
    --button: rgb(226, 198, 43);
    --button-hover: rgb(226, 228, 85);
    --border-radius: 12px;
    --input-border-radius: 40px;
    --anchor: rgb(192, 192, 192);
    --box-shadow: #2e2e2e;
    --box-shadow-2: #444444;
    --box-shadow-3: #3f3f3f;
        }
}

/* Estrutura geral */
body{
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--text);
    background-color: var(--background-color);
}

/* Seletores de texto e âncora */
h1, p{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    font-weight: 300;
    color: var(--anchor);
    display: flex;
    justify-content: center;
}

a:hover{
    text-decoration: underline;
}

/* Estrutura da container */
.container{
    width: 400px;
    background-color: var(--surface-color);
    height: 500px;
    border-radius: var(--border-radius);
    box-shadow: 10px 10px 10px var(--box-shadow), 10px 10px 10px var(--box-shadow);
}

/* Botão */
button{
    display: block;
    width: fit-content;
    margin: 0 auto;
    color: var(--text-2);
    border: none;
    width: 70%;
    height: 50px;
    border-radius: var(--border-radius);
    background-color: var(--button);
    font-size: larger;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.2s;
}

button:hover{
    cursor: pointer;
    background-color: var(--button-hover);
    transition: all 0.2s
}

/* Inputs */
input{
    display: block;
    width: fit-content;
    margin: 0 auto;
    width: 70%;
    height: 40px;
    border: none;
    border-radius: var(--input-border-radius);
    background-color: var(--input-bg);
    color: var(--text);
    font-size: medium;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    box-shadow: inset 2px 2px 4px var(--box-shadow-2), -2px -2px 4px var(--box-shadow-3);
}

input::placeholder{
    color: var(--text);
}